<div class="container">
    <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="error">
        <div>{{mensagemError}}</div>
    </div>
    <form class="row g-3 needs-validation " [class.was-validated]="formInvalido" novalidate #f="ngForm"
        (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-4">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="equipe.nome" 
                    required #nome="ngModel" maxlength="255">
                <div class="valid-feedback">
                    Preenchimento válido
                </div>
                <div class="invalid-feedback">
                    Nome é obrigatório!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit">{{textoBotao}}</button>
            </div>
        </div>
    </form>
</div>